html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TsExtrabold';
    src: url(../public/fonts/otf/TSTarek-ExtraBold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsSemibold';
    src: url(../public/fonts/otf/TSTarek-SemiBold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'Tsbold';
    src: url(../public/fonts/otf/TSTarek-Bold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsMed';
    src: url(../public/fonts/otf/TSTarek-Medium.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsThin';
    src: url(../public/fonts/otf/TSTarek-Thin.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsLight';
    src: url(../public/fonts/otf/TSTarek-Light.otf);
    font-display: swap;
  }
}

.carousel .slide {
  background: rgb(255, 255, 255) !important;
  height: 100vh !important;
}

.carousel .dot {
  border-radius: 0% !important;
  width: 5% !important;
  height: 3px !important;
}

.control-dots {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: fit-content !important;
}

.carousel-status {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  outline: none;
}

.swiper-button-prev {
  display: none;
}
input[type='text'] {
  border: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type='text']:focus {
  border: 0px;
}
section,
div {
  border: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

section,
div:focus {
  border: 0px;
}
button {
  border: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
}

button:focus {
  border: 0px;
  outline: none;
}
body {
  border: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  outline: none;
}
body:focus {
  border: 0px;
  outline: none;
}
body {
  outline: none;
}
