html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TsExtrabold';
    src: url(../public/fonts/otf/TSTarek-ExtraBold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsSemibold';
    src: url(../public/fonts/otf/TSTarek-SemiBold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'Tsbold';
    src: url(../public/fonts/otf/TSTarek-Bold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsMed';
    src: url(../public/fonts/otf/TSTarek-Medium.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsThin';
    src: url(../public/fonts/otf/TSTarek-Thin.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsLight';
    src: url(../public/fonts/otf/TSTarek-Light.otf);
    font-display: swap;
  }
}

.carousel .slide {
  background: rgb(255, 255, 255) !important;
  height: 100vh !important;
}

.carousel .dot {
  border-radius: 0% !important;
  width: 5% !important;
  height: 3px !important;
}

.control-dots {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: fit-content !important;
}

.carousel-status {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  outline: none;
}

.swiper-button-prev {
  background-image: url('https://www.seekpng.com/png/detail/438-4383755_how-to-set-use-black-next-button-svg.png');
  background-repeat: no-repeat;
  background-size: 12px 19px !important;
  height: 52px !important;
  width: 52px !important;
  background-position: center;
  right: -15px !important;
}
