html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TsExtrabold';
    src: url(../public/fonts/otf/TSTarek-ExtraBold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsSemibold';
    src: url(../public/fonts/otf/TSTarek-SemiBold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'Tsbold';
    src: url(../public/fonts/otf/TSTarek-Bold.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsMed';
    src: url(../public/fonts/otf/TSTarek-Medium.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsThin';
    src: url(../public/fonts/otf/TSTarek-Thin.otf);
    font-display: swap;
  }

  @font-face {
    font-family: 'TsLight';
    src: url(../public/fonts/otf/TSTarek-Light.otf);
    font-display: swap;
  }
}

.carousel .slide {
  background: rgb(255, 255, 255) !important;
  height: 100vh !important;
}

.carousel .dot {
  border-radius: 0% !important;
  width: 5% !important;
  height: 3px !important;
}

.control-dots {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: fit-content !important;
}

.carousel-status {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  outline: none;
}

.swiper-button-prev {
  display: none;
}
input {
  border-radius: 0;
  -webkit-border-radius: 0px;
}
input[type='search'] {
  -webkit-appearance: none;
}
textarea,
input[type='text'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
